.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Form.Group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .Form.Label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .Form.Control {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .Form.Control:focus {
    outline: none;
    border: 1px solid #007bff;
  }
  
  select.Form.Control {
    height: 50px;
  }
  
  span {
    color: red;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
  }
  
  Button[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  Button[type="submit"]:hover {
    background-color: #0062cc;
  }
  